* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
}

#content {
  height: 100vh;
  background: url("../images/EspaceFond.jpg");
}

.ice {
  position: relative;
  margin: 0 auto;
  height: 100%;
  overflow-y: hidden;
}


.ice .svg-wrapper {
  text-align: center;
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
}


.ice .overlay {
  position: relative;
  z-index: 10;
}


.ice svg {
  /* width: 800px; */
  /* height: 800px; */
  margin: 0 auto;
}

.bar-action {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bar-action > div {
  /* width: 300px; */
}


.cursor-move {
  cursor: url('../images/Patin.png'), auto;
  /* cursor: progress; */
}


.cursor-attack {
  cursor: url('../images/Casque.png'), auto;
  /* cursor: zoom-in; */
}


.cursor-not {
  cursor: not-allowed;
  /* cursor: zoom-in; */
}

.bar-action {
  text-align: center;
}


.choice-list {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
}

.choice-item {
  cursor: pointer;
  padding: 20px 10px;
  background-color: royalblue;
  color: white;
  font-size: 18px;
  margin: 2px;
  cursor: pointer;
}

.choice-list.two-col .choice-item {
  width: 45%;
  display: inline-block;
}

.choice-list.three-col .choice-item {
  width: 30%;
  display: inline-block;
}


.choice-item:hover {
  background-color: cornerflowerblue;
}


.state-title {
  padding: 10px 40px;
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
  /* background-color: rgba(65,105,225,0.9); royalblue */
  background-color: rgba(0,0,255,0.8);
  border: #ccc solid;
  border-width: 1px 1px 0 1px;
  color: white;
}

.state-info {
  padding: 5px 10px;
  margin-bottom: 10px;
  border-bottom: 1px #ccc solid;
}


/************/
/* BAR INFO */
/************/

#content {
  background-color: black;
}

.bar-info {
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: lightgreen; */
  padding: 10px 10px 0 0;
}

.bar-info .recorder {
  text-align: center;
}

.bar-info .button {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: white;
}


.turn-overview {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ccc;
  border-radius: 10px;
}


.turn-overview-header { border-radius: 10px 10px 0 0; }
.turn-overview-footer { border-radius: 0 0 10px 10px; }

.turn-overview-footer, .turn-overview-header {
  padding: 5px 0;
}

.turn-overview-footer,
.turn-overview-header,
.turn-player-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
}


.turn-overview-header {
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
}

.game-turn-count {
  font-weight: bold;
}

.turn-player-fig {
  display: block;
}

.turn-player {
  position: relative;
}

.turn-overview-header,
.turn-player-wrapper {
  border-bottom: 1px solid #ccc;
}

.turn-player-wrapper.turn-player-wrapper-current + .turn-overview-footer,
.turn-player-wrapper.turn-player-wrapper-current + .turn-player-wrapper {
  border-top: 1px solid #ccc;
}

.turn-player-wrapper {
  padding: 10px;
  position: relative;
  left: 0;

  -webkit-transition: left 1s linear;
  -moz-transition: left 1s linear;
  -o-transition: left 1s linear;
  transition: left 1s linear;
}


.turn-player-wrapper.turn-player-wrapper-current {
  left: -50%;
  border-radius: 10px;
  border-bottom: none;
}

.turn-finished {
}

.turn-ingame {
}

.turn-eliminated {
}


.player-name {
  padding-top: 5px;
  font-size: 16px;
}

.player-side-info {
  margin-left: 8px;
}

.player-skull {
  background: url("../images/skull_28x28.png") no-repeat;
  padding-left: 35px;
  line-height: 28px;
  height: 50%;
}


.player-race-turn {
  background: url("../images/flag_28x28.png") no-repeat;
  padding-left: 35px;
  line-height: 28px;
  height: 50%;
}

.turn-current {
  background-color: transparent;
  width: 10px;
  height: 10px;
}


.turn-player-ko,
.turn-player-ko-turn,
.turn-player-ko span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* .player-ko-square, */
.turn-player-ko-turn {
  background-color: "black";
  /* background: url("../images/dizzy.png") no-repeat; */
  background: url("../images/dizzy4.png") no-repeat;
  opacity: 0.7;
}


.turn-player-ko span {
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-shadow: #333 1px 3px 5px;
}


.outgame-overview {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
}


/************************/
/* ELIMINATION & PODIUM */
/************************/

.position-head {
  height: 50px;
}

/***************/
/* ELIMINATION */
/***************/


.eliminated-overview {
  /* margin from eliminated-overview */
  margin-right: 5px;
  color: white;
}

.eliminated-overview .position-body, .eliminated-overview-header > .eliminated-count span {
  background-color: rgba(0, 0, 0, 0.7);
}

.eliminated-overview {
  display: flex;
  flex-direction: row;
}

.eliminated-overview-header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.eliminated-overview-header > .eliminated-count span {
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 100%;
  padding: 10px 15px;
}

.eliminated-overview-header .position-body {
  border-radius: 0 10px 10px 0;
}


.eliminated-overview-header > .title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
}

.eliminated-player-wrapper {
  align-self: center;
  position: relative;
}

.eliminated-player {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-left: 1px solid white;
}

.eliminated-overview-player-list {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  max-width: 800px;

  -webkit-transition: max-width 1s ease-out;
  -moz-transition: max-width 1s ease-out;
  -o-transition: max-width 1s ease-out;
  transition: max-width 1s ease-out;
}

.eliminated-overview.closed .eliminated-overview-player-list {
  max-width: 0px;
}

.eliminated-player > .player-name {
  white-space: nowrap;
}


/***********/
/* PODIUM */
/***********/

.finish-overview {
  /* margin from eliminated-overview */
  margin-right: 5px;
  color: black;
}

.finish-overview .position-body, .finish-overview-header > .finish-count span {
  background-color: rgba(0, 255, 0, 0.7);
}

.finish-overview {
  display: flex;
  flex-direction: row;
}

.finish-overview-header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.finish-overview-header > .finish-count span {
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 100%;
  padding: 10px 15px;
}

.finish-overview-header .position-body {
  border-radius: 0 10px 10px 0;
}


/* .finish-rank-0, .finish-rank-1, .finish-rank-2 { */
.finish-rank {
  width: 100%;
  text-align: center;
}


.finish-rank span {
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  border-radius: 30px;
  background-color: rgba(0, 255, 0, 0.7);
  color: white;
  padding: 4px 10px;
}


.finish-rank.finish-rank-0, .finish-rank.finish-rank-1, .finish-rank.finish-rank-2 {
  background-position: center;
  background-repeat: no-repeat;
}

.finish-rank-0 span, .finish-rank-1 span, .finish-rank-2 span { visibility: hidden; }

.finish-rank-0:after, .finish-rank-1:after, .finish-rank-2:after {
  visibility: visible;
  content: "";
}

.finish-rank-0 { background-image: url("../images/medal_gold.png"); }
.finish-rank-1 { background-image: url("../images/medal_silver.png"); }
.finish-rank-2 { background-image: url("../images/medal_bronze.png"); }


.finish-overview-header > .title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
}

.finish-player-wrapper {
  align-self: center;
  position: relative;
}

.finish-player {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-left: 1px solid white;
}

.finish-overview-player-list {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  max-width: 800px;

  -webkit-transition: max-width 1s ease-out;
  -moz-transition: max-width 1s ease-out;
  -o-transition: max-width 1s ease-out;
  transition: max-width 1s ease-out;
}

.finish-overview.closed .finish-overview-player-list {
  max-width: 0px;
}

.finish-player > .player-name {
  white-space: nowrap;
}


/* https://www.dreamstime.com/black-sand-clock-timer-icon-logo-vintage-hourglass-sandglass-timer-clock-black-sand-clock-timer-icon-logo-vintage-image132133054 */


/* GAME STREAM INFO */


.bar-topleft {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
}


.bar-game-stream {
  width: 400px;
  margin-left: 20px;
}

.bar-game-stream ul {
  /* background-color: rgba(0, 180, 255, 0.5); */
  background-color: rgba(80, 230, 255, 0.8);
  margin: 0px;
  padding: 10px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #333;
  border-radius: 0 0 5px 5px;
}

.bar-game-stream ul li {
  list-style-type: none;
  margin: 2px 0;
  padding-left: 5px;
}



.game-ctrl-bar {
  background-color: rgba(80, 230, 255, 0.8);
  padding-left: 20px;
  border-bottom: 1px #333 solid;
}


.map-choose-wrapper {
}


.map-choose.map-closed .map-list {
  display: none;
}

.map-button {
  background: url("../images/worldmap.png") no-repeat;
  width: 36px;
  height: 36px;
  background-size: contain;
}

.map-choose {
  position: relative;
  cursor: pointer;
}


.map-list {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: plum;
  max-height: 500px;
  overflow-y: scroll;
  min-width: 300px;
}

.map-list li {
  list-style-type: none;
  cursor: pointer;
  border: solid white;
  border-width: 1px 0 1px 0;
  padding: 10px 20px;
}

.map-list li:hover {
  background-color: black;
  color: white;
}


/** CIRCLE **/


.action-announce .choice-list,
.action-dice .choice-list {
    position: relative;
    margin-left: -4em;
    margin-bottom: -1em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    /*
    padding: 2.8em;
    width: 24em;
    height: 24em;
    border: dashed 1px;
    border-radius: 50%;
    margin: 1.75em auto 0;
    */
}

.action-announce .choice-list .choice-item,
.action-dice .choice-list .choice-item {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  /* width: 4em; height: 4em; line-height: 4em; margin-top: -4em; */

  margin: 0;
  width: 3em; height: 3em; line-height: 3em; margin-top: -3em;
  border-radius: 50%;
  padding: 0;
  box-shadow: 5px 5px 5px #333;
}


.action-announce .choice-list .choice-item span,
.action-dice .choice-list .choice-item span {
  font-size: 1.8em;
  font-weight: bold;
}


.action-announce .choice-list .choice-item:hover,
.action-dice .choice-list .choice-item:hover {
  background-color: yellow !important;
  color: black;
}


/*
 https://stackoverflow.com/questions/12813573/position-icons-into-circle
 http://jsfiddle.net/sajjansarkar/zgcgq8cg/
 https://jsfiddle.net/skwidbreth/q59s90oy/
*/


/*
.deg0 { transform: translate(12em); }
.deg45 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
.deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
.deg180 { transform: translate(-12em); }
.deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }

*/


.choice-skull {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(0,0,0,0.6);
  padding: 20px 10px;
  border-radius: 10px;
}

.choice-skull > div {}

.choice-skull-ctrl {
  display: flex;
}

/* https://css-tricks.com/snippets/css/css-triangle/ */
.choice-skull-inc, .choice-skull-dec {
  width: 0; height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  cursor: pointer;
}

.choice-skull-inc {
  border-left: 25px solid red;
}

.choice-skull-dec {
  border-right: 25px solid blue;
}


.choice-skull-submit,
.choice-skull-inc, .choice-skull-dec {
  filter: drop-shadow(0 0 0.75rem white);
}


.choice-skull-submit:hover,
.choice-skull-inc:hover, .choice-skull-dec:hover {
  /* crimson */
  filter: drop-shadow(0 0 0.75rem red);
}

.choice-skull-count-stock,
.choice-skull-count-used {
  line-height: 55px;
  font-size: 52px;
  color: white;
}


.choice-skull-submit {
  background: url("../images/crane_shrink.png") no-repeat;
  height: 55px;
  width: 45px;
  cursor: pointer;
  margin: 0 30px;
  /* object-fit: fill; */
}

